html, body {
  overflow: hidden;
}

body{
  background: url("seamless tech pattern.jpg");
  background-size: cover;
}

img {
  border-radius: 10px;
}

body > div {
  padding-bottom: 25px;
}

.Profile {
  text-align: center;
  margin: 0;
  padding: 10px 25px;
  border-radius: 7px;
  width: fit-content;
  height: fit-content;
}

div.Profile {
  background-color: lightgray;
}

.Welcome {
  font-size: 72px;
}

.Info {
  padding: 25px;
  background-color: lightgray;
  border-radius: 7px;
  display: flex;
}
