body {
  font-family: Helvetica;
  color: blue;
  align-content: center;
  text-align: center;
  background: url("seamless tech pattern.jpg");
  background-size: cover;
}

table.schedule, form {
  width: 500px;
  height: 500px;
  margin-left: auto;
  margin-right: auto;
}
iframe {
  width: 750px;
  height: 700px;
}

table.schedule {
  border: 3px solid blue;
  background-color: lightgray;
  text-align: center;
}

nav {
  display: flex;
}

div {
  text-align: center;
  margin: auto;
}

h3.navlink{
  width: 20%;
}

hr {
  background-color: blue;
  border-radius: 7px;
  height: 10px;
  border: 0;
}

h3 > a {
  padding: 5px;
  background-color:lightgray;
  border-radius: 5px;
  text-decoration: none;
}

a:active, input:active {
  color: lightgreen;
}

.ul
{
  text-align: left;
  width: 50%;
}

.gallery{
  display: flex;
}

div.gallery > img {
  width: 50%;
}

.homelink {
  width: 100px;
}

.sideways {
  writing-mode: vertical-rl;
}

.contactForm {
  background-color: darkgray;
  width: 500px;
  text-align: center;
  margin-bottom: auto;
  height: auto;
  border-radius: 10px;
  border: 1px solid blue;
}

input[type="submit"]{
  height: 40px;
  width: 125px;
  color: blue;
  border: 1px solid blue;
  border-radius: 10px;
}

.Favorites {
  border: none;
  background-color: lightgray;
  border-radius: 7px
}

.bio {
  background-color: lightgray;
  border-radius: 7px;
  padding: 7px 25px;
  width: 50%;
}

tbody.Favorites {
  text-align: left;
  padding-left: 50px;
}

div.Favorites {
  width: 50%;
  margin: auto;
}

#rotate {
  animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
